body {
    background-color: #fff9c4;
}

/* .waves-effect {
  position: absolute;
} */

.btn-floating {
    margin-left: 10px;
}

.flashes h4 {
    line-height: 2;
    color: white;
}

#rating {
  float: right;
}

.f-grid {
  display: flex;
  flex-flow: row wrap;
}

#close {
    font-size: 18px;
}