@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Slab&display=swap');

body {
    background-color: #FFF5EB;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 1.4rem;
}

#logo{
    font-family: 'Gloria Hallelujah', serif;
}

@media screen and (max-width: 350px) {
  #logo {
    font-size: 1.8rem;
  }
}
/* 
h4 {
    padding-top: 20px;
} */

.btn-floating {
    margin-left: 10px;
}

#sticky_button {
    position:fixed;
    bottom:5%;
    right:3%;
    z-index:9999; 
}

.flashes h4 {
    line-height: 2;
    color: #FFF5EB;
}

#cover img {
    height: 180px;
    float: right;
}

.f-grid {
  display: flex;
  flex-flow: row wrap;
}

.nav-wrapper .input-field input[type=search] {
  height: 44px;
  color: #FFF5EB;
  border: 1px solid #FFF5EB;
  margin-top: 8px;
  border-radius: 5%;
}

.nav-wrapper input[type="search"]:focus {
  top: 0;
  left: 0;
  width: 70%;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-field label {
  max-height: 44px;
}

.input-field input[type=search]+.label-icon{
  left: 0;
}

.nav-wrapper input[type="search"]:focus ~ .label-icon.active {
  left: 10px;
}

.nav-wrapper input[type="search"]{
  display:flex;
  flex-direction:row;
  float: right;
}

.search-btn {
    margin-top: 10px;
    padding: 0 10px;
}