{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m4">
        {% if book.cover|length %}
        <img class="responsive-img" src="{{ book.cover }}" alt="book_cover">
        {% else %}
        <img class="responsive-img" src="../static/images/book-colored.png" alt="book_cover">
        {% endif %}
    </div>
    
    <div class="col s12 m7">
        <h4 style="text-transform: uppercase;" class="deep-purple-text"> {{ book.title }}</h4>
        <h5 class="cyan-text text-darken-2"> {{ book.author }}</h5>
        <p> ISBN: {{ book.isbn }} <br>
            Categories: {% for item in book.category %}
            <span>{{ item }} &middot </span>
            {% endfor %}</p>
    </div>
    <div class="col s2 m1">
        <p>Rating: {% for item in ratings %}
            {% if item._id == book._id %} 
            {{ "%.1f"|format(item.average) }}
            {% endif %}
            {% endfor %}</p>
    </div>
</div>
<a href="{{ url_for('add_review_by_title', book_id=book._id) }}" id="sticky_button"
    class="btn-floating btn-large pulse waves-effect waves-light deep-purple">
    <i class="fas fa-plus"></i></a>

{% for rev in reviews %}
<div class="divider"></div>
<div class="section row valign-wrapper">
    <div class="col s10 m10">
        <h6 class="red-text text-accent-2"> {{ rev.created_by }} rated it with &#9734 {{ rev.rating }} &#9734</h6>
        <p> {{ rev.review }} </p>
    </div>
    <div class="col s2 m2 offset-1 center-align">
        {% if rev.rating|int < 3 %}
        <img class="responsive-img smiley" src="../static/images/disappointed.png" alt="disappointed_face">
        {% elif rev.rating|int < 5 %}
        <img class="responsive-img smiley" src="../static/images/sad.png" alt="sad_face">
        {% elif rev.rating|int < 7 %}
        <img class="responsive-img smiley" src="../static/images/neutral.png" alt="neutral_face">
        {% elif rev.rating|int < 9 %}
        <img class="responsive-img smiley" src="../static/images/happy.png" alt="happy">
        {% else %}
        <img class="responsive-img smiley" src="../static/images/in-love.png" alt="in_love_face">
        {% endif  %}
    </div>
</div>

{% endfor %}

{% endblock %}