{% extends "base.html" %}
{% block content %}

    <h1 class="center-align deep-purple-text">Books by age groups</h1>

    <div class="row center-align">
        <div class="col s12 m5 offset-m1">
            <div class="card-medium">
                <div class="card-image"> 
                    <a href="{{ url_for('display_books', age_group = '0-2 years') }}">
                    <img class="responsive-img" src="../static/images/group1.jpg">
                    <span style="font-size:xx-large" class="card-title cyan-text text-darken-2">0-2 years old</span></a>
                    <a href="{{ url_for('add_review_by_age', age_group = '0-2 years') }}" 
                    class="btn-floating btn-large pulse waves-effect waves-light teal accent-4">
                    <i class="fas fa-plus"></i></a>        
                </div>
                <div class="card-content">
                    <p class="flow-text">High contrast and sensory books, first nursery rhymes etc.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card-medium">
                <div class="card-image">
                    <a href="{{ url_for('display_books', age_group = '3-5 years') }}">
                    <img class="responsive-img" src="../static/images/group2.jpg">
                    <span style="font-size:xx-large; color:#118ab2ff" class="card-title cyan-text text-darken-2">3-5 years old</span></a>
                    <a href="{{ url_for('add_review_by_age', age_group = '3-5 years') }}" 
                    class="btn-floating btn-large pulse waves-effect waves-light amber accent-2">
                    <i class="fas fa-plus"></i></a>
                </div>
                <div class="card-content">
                    <p class="flow-text">Beautifully illustrated books with no words, first words, short stories etc.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 m5 offset-m1">
            <div class="card-medium">
                <div class="card-image">
                    <a href="{{ url_for('display_books', age_group = '6-8 years') }}">
                    <img class="responsive-img" src="../static/images/group3.jpg">
                    <span style="font-size:xx-large; color:#118ab2ff" class="card-title cyan-text text-darken-2">6-8 years old</span></a>
                    <a href="{{ url_for('add_review_by_age', age_group = '6-8 years') }}" 
                    class="btn-floating btn-large pulse waves-effect waves-light red accent-2">
                    <i class="fas fa-plus"></i></a>
                </div>
                <div class="card-content">
                    <p class="flow-text">Books for children who start to read on their own, longer stories to be read by caregivers and many more.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card-medium">
                <div class="card-image">
                    <a href="{{ url_for('display_books', age_group = '9-12 years') }}">
                    <img class="responsive-img" src="../static/images/group4.jpg">
                    <span style="font-size:xx-large; color:#118ab2ff" class="card-title cyan-text text-darken-2">9-12 years old</span></a>
                    <a href="{{ url_for('add_review_by_age', age_group = '9-12 years') }}" 
                    class="btn-floating btn-large pulse waves-effect waves-light deep-purple lighten-1">
                        <i class="fas fa-plus"></i></a>
                </div>
                <div class="card-content">
                    <p class="flow-text">Interesting books for kids who are confident but lazy readers.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}