{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1">
        <h3 class="center-align purple-text">
            My Reviews
        </h3>

        <ul class="collapsible">
            {% for book in users_revs %}
            <li>
                <div class="collapsible-header green lighten-4"><i class="material-icons">expand_more</i>
                    <div class="col s9"><strong>{{ book.title}} - {{ book.author}} </strong>
                        <strong id="rating">{{ book.rating}}<i class="far fa-star"></i></strong>
                    </div>
                    <div class="col s3">
                        <a href="" class="btn-small green accent-4">Delete</a>
                        <a href="" class="btn-small orange lighten-1">Edit</a>
                    </div>
                </div>
                <div class="collapsible-body"><span>{{ book.rating}} : {{ book.review}} </span></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}