{% extends "base.html" %}
{% block content %}

<!-- <div class="row">
    <div class="col s12 m10 offset-m1"> -->
        <h3 class="center-align purple-text">
            My Reviews
        </h3>
        <ul class="collapsible">
            {% for book in merged %}
            <li>
                <div class="collapsible-header green lighten-4"><i class="material-icons">expand_more</i>{{ book.title}} 
                    {{ book.author}} </div>
                <div class="collapsible-body"><span>{{ book.review}} </span></div>
            </li>
            {% endfor %}
        </ul>
    <!-- </div> -->
<!-- </div> -->


{% endblock %}