{% extends "base.html" %}
{% block content %}

  <h1 class="purple-text">Only registered users here!</h1>
  <p>If you'd like to add a review, please login or register:</p>
  <div class="row">
            <div class="col s12 center-align">
                <!-- login button -->
                <a href="{{ url_for('login') }}" class="btn-large green">
                    Login <i class="fas fa-sign-in-alt"></i>
                </a>
                <!-- register button -->
                <a href="{{ url_for('register') }}" class="btn-large orange">
                    Register <i class="fas fa-user-plus right"></i>
                </a>
            </div>
        </div>

{% endblock %}