{% extends "base.html" %}
{% block content %}

  <h1 class="deep-purple-text">Only registered users here!</h1>
  <p>To add, edit or delete reviews, please login or register:</p>
  <div class="row">
            <div class="col s12 center-align">
                <!-- login button -->
                <a href="{{ url_for('login') }}" class="btn-large teal accent-4">
                    Login <i class="fas fa-sign-in-alt"></i>
                </a>
                <!-- register button -->
                <a href="{{ url_for('register') }}" class="btn-large deep-purple">
                    Register <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>

{% endblock %}